{% extends "users/base.html" %}
{% block content1 %}
    <div class="par1">
    </div>
{% endblock content1%}
{% block content %}
    <section class="about">
        <h2><strong>ABOUT</strong></h2>
        <p>
        <b> "The main hope of a nation lies in the proper education of its youth" </b> <br>
        <br>In this extremely competitive digital era, a country's growth depends on the skill level of its students. It becomes imperative to ensure that every student is equipped to face the challenges of this new era and has the sufficient skills to successfully contribute to the nation.
        Even in this connected world, there are certain areas of the society which do not receive the tools and support necessary to forge ahead in their professional life. Upskool aims to help rewrite that narrative by providing a platform where government schools can connect with NGOs and volunteers to equip the students with the technical skills required to make strides in their lives and ultimately, lead our country to greater heights.
      </p>
      </section>
      <div class="par2"> <!-- <img src="imag/quote.png" width="100%">--> </div>
      <section class="work">
        <h2>STORIES</h2>  
        <div class="card"><img src='static/users/k3.jpg' alt="something" width="400px" height="500px">
        <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="read1.html"><button class="b1"><span>Read more</span></button></a></div></div>
    
        <div class="card"><img src='static/users/head.jpg' alt="something" width="400px" height="500px">
        <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="read1.html"><button class="b1"><span>Read more</span></button></a></div></div>
        
        <div class="card"><img src='static/users/k2.jpeg' alt="something" width="400px" height="500px">
        <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="read1.html"><button class="b1"><span>Read more</span></button></a></div></div>
      </section>

{% endblock content %}