{% extends "users/base.html" %}
{% block content %}
    <div class="par1"></div>
    <section class="about">
        <h2>ABOUT</h2>
        <p><img src="imag/lena.png" alt="something" width="500px" height="500px">
        <b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. </b> <br>
        <br>Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    </section>
    <div class="par2"></div>
    <section class="work">
        <h2>OUR WORK</h2>  
        <div class="card"><img src="imag/doggo.jpg" alt="something" width="400px" height="500px">
        <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="read.html"><button class="b1"><span>Read more</span></button></a></div></div>

        <div class="card"><img src="imag/head.jpg" alt="something" width="400px" height="500px">
        <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="read.html"><button class="b1"><span>Read more</span></button></a></div></div>
        
        <div class="card"><img src="imag/lady.jpg" alt="something" width="400px" height="500px">
        <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="read.html"><button class="b1"><span>Read more</span></button></a></div></div>
    </section>

{% endblock content %}