{% extends "users/base.html" %}
{% block content %}
    <article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="{% url 'user_story' object.story_author.username %}">{{ object.story_author }}</a>
        <small class="text-muted">{{ object.story_date_posted|date:"F d, Y" }}</small>
        </div>
        <div>
            <img class="rounded-circle article-img" src="{{ story.story_image.url }}">
        </div>
        <h2 class="article-title" >{{ object.story_title }}</h2>
        <p class="article-content">{{ object.story_content }}</p>   
        {% if object.story_author == user %}
            <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'story-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'story-delete' object.id %}">Delete</a>
            </div>
       {% endif %}
    </div>
    </article>
{% endblock content %}